#wrapper {
    padding: 5px;
    font-family: Trebuchet MS;
}

nav {
	width: 100%;
	position: sticky;
	top: 0;
	background-color: rgba(10, 10, 10, 0.5);
	overflow: hidden;
    opacity: 50%;
}

nav a {
    float: left;
	color: #FFDD03;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	margin: 1px;
	display: block;
	width: auto;
}

nav a:hover {
	background-color: rgba(251, 197, 3, 0.5);
	color: #0A0A0A;
}

nav a.active {
	background-color: #FBC403;
	color: #0A0A0A;
}

#profile {
    float: right;
}

span {

}
