/* @group wrapper */
/* Wrapper contains the contents of the website */

#wrapper {
    padding: 5px;
    font-family: Trebuchet MS;
    min-width: 691px;
    background-color: #ccc;
}
/* @end wrapper */
/* Content contains the layout of the website    */

#content {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 95%;
    text-align: center;
}

/* @group nav */
/* Nav  */

nav {
	width: 100%;
	top: 0;
	background-color: #6b6b6b;
	overflow: hidden;
    opacity: 50;
	position: sticky;
}

nav a {
    float: left;
	color: #FFDD03;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	margin: 1px;
	display: block;
	width: auto;
}

#navLogo {
    padding: 0px !important;
    height: 48px;
    width: 127.78px;
}

#navLogo img {
    height: 48px !important;
    width: 127.78px !important;
}

nav a:hover {
	background-color: rgba(251, 197, 3, 0.5);
	color: #0A0A0A;
}

nav a.active {
	background-color: #FBC403;
	color: #0A0A0A;
}

#profile {
    float: right;
}

.search {
    float: right;
    text-align: center;
	padding: 10px 8px;
	text-decoration: none;
	font-size: 5px;
	display: block;
	width: auto;
    max-height: 48px;
}
/* @end nav */

/* @group img */

img {
    width: 100px;
    height: 100px;
}
/* @end img */

/* @group user */

/* @end user */
#user img {
    border: solid 1px #000;
    width: 150px;
    height: 150px;
}

#user {
    float: left;
    margin-left: 35%;
    margin-top: 10%;
}

.match_history {
    float: left;
    margin-left: 5%;
    margin-top: 10%;
}

.match_table {
    overflow-y: scroll;
    height: 150px;
}

/* @group flashes */
.flashes {
    font-weight: bold;
    color: #dd0;
    background-color: rgba(10, 10, 10, 0.5);
    text-decoration: underline;
    list-style: none;
    width: auto;
    margin: 0px;
    padding: 0px;
    margin-top: 1px;
    text-align: center;
}

.flashes li {
    padding: 3px;
}
/* @end flashes */

/* @group footer */
footer {
    text-align: center;
    margin-top: 30%;
}
/* @end footer */


/* @group forms */
span {
    color: red;
}

input[type=text], input[type=password] {
    border-radius: 4px;
    padding: 5px 10px;
}
/* @end forms */

/* @group table */
table, tr, td, th {
    border-collapse: collapse;
    padding: 0px 3px;
    color: #dd0;
}

table {
    border: 2px solid #222;
}

table a {
    color: #dd0;
}

th{
    font-weight: bolder;
    border-bottom: 2px solid #222;
    border-top: 2px solid #222;
    background-color: #111 !important;
}

tr {
    background-color: #404850c8;
}

tr:nth-child(even) {
    background-color: #999;
}

td {
    text-align: center;
    border: 1px solid #333;
}

#user_stats {
    width: 40%;
    align-content: center;
}

#user_stats {

}

#search_table {
    align-content: center;
    width: 30%;
}

#leaderboard {
    width: 60%;
}

#search_table td{
    padding: 3px 3px 0px 3px;
}

#search_table a {
    text-decoration: underline;
}

#search_table th {
    top: 49px;
    position: sticky;
}

.match_table th {
    top: -1px;
    position: sticky;
}

.search_row {
    width: auto;
}
/* @end table */
