<!doctype html>
{% extends "layout.html" %}

{% block content %}
    <h1>Delete Account</h1>
    <form method="post" novalidate> <!-- Creates a form with novalidate to use Flask Forms own validation methods -->
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br> <!-- Displays the username -->
            {{ form.username(size=32) }}<br> <!-- Sets the character size of the input field -->
            {% for error in form.username.errors %}
            <span>[{{ error }}]</span> <!-- Shows the user any validation errors returned by the form -->
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span>[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.delete_check.label }}<br>
            {{ form.delete_check(size=32) }}<br>
            {% for error in form.delete_check.errors %}
            <span>[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
