<!doctype html>
<html>
    <head>
        <title>R6Web - {{ page_title }}</title>
        <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    </head>
    <body>
        <div id="wrapper">
            {% include "header.html" %}
            {% include "nav.html" %}
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
            {% include "footer.html" %}
        </div>
    </body>
</html>
