<!doctype html>
{% extends "layout.html" %}

{% block content %}
<p>Leaderboard</p>
<table id="leaderboard"> <!-- Creates a table -->
    <tr>
        <th>Rank</th>
        <th>Username</th> <!-- sets the table headers -->
        <th>ELO</th>
    </tr>
    {% for player in list %} <!-- Makes a new row per user -->
    <tr>
        <td><a href="/user/{{player[0]}}">{{loop.index}}</a></td> <!-- Automatically numbers the users -->
        <td><a href="/user/{{player[0]}}">{{player[0]}}</a></td> <!-- Parses the username from the leaderboard function returned tuple -->
        <td><a href="/user/{{player[0]}}">{{player[1]}}</a></td> <!-- Parses the ELO of the player -->
    </tr>
    {% endfor %}
</table>
{% endblock %}
