<nav>
    <a id="navLogo" href="{{url_for('home')}}"><img align=center src="/static/images/r6webLogo.png"></a> <!-- Create a clickable image for the home page -->
    <a href="{{url_for('leaderboard')}}">Leaderboard</a>
    <div class="search"> <!-- Seperates all the user pages to right side of navbar -->
    <form action="{{url_for('search_results')}}" method="post" novalidate>
        {{ searchform.hidden_tag() }}
            {{ searchform.username_search(size=25) }}<br>
            {% for error in searchform.username_search.errors %}
            <span>[{{ error }}]</span>
            {% endfor %}
    </form>
    </div>
    <div id="profile">
        <a href="{{url_for('submit')}}">Submit Data</a>
        <a href="{{url_for('signup')}}">Sign Up</a>
    </div>
</nav>
