{% extends "layout.html" %}

{% block content %}
    <h1>Submit Data</h1>
    <form action="" method="post" novalidate>

        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span>[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span>[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.kills.label }}<br>
            {{ form.kills(size=2) }}<br>
            {% for error in form.kills.errors %}
            <span>[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.deaths.label }}<br>
            {{ form.deaths(size=2) }}<br>
            {% for error in form.deaths.errors %}
            <span>[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.MMR.label }}<br>
            {{ form.MMR(size=5) }}<br>
            {% for error in form.MMR.errors %}
            <span>[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
